{
    "path_to_so-vits_raw":"so-vits-svc/raw/",
    "actor_name":"baka",
    "output_device":"CABLE Input (VB-Audio Virtual Cable)",
    "RECORD_SECONDS":15,
    "QUITE_THRESHOLD":1.5,
    "THRESHOLD": 0.11,
    "WAVE_OUTPUT_FILENAME":"sound_change",
    "HOTKEY_FOR_TERMINATION":"page down",
    "path_for_FLASK_to_model":"so-vits-svc/models/",
    "path_for_result": "so-vits-svc/results/",
    "pitch_adjust": 8,
    "auto_f0": 0
}